<div class="container">
    <div *ngIf="afAuth.user | async as user; else showLogin">
        <h1>Hello {{ user.displayName }}!</h1>
        <button (click)="logout()">Logout</button>
    </div>
    <ng-template #showLogin>
        <mat-toolbar class="main-toolbar">
            <mat-toolbar-row>
                <span>Please Login.</span>
                <span class="example-spacer"></span>
            </mat-toolbar-row>
        </mat-toolbar>
        <br>
        <mat-grid-list cols="3">
            <mat-grid-tile colspan="2" rowspan="1">
                <div>
                    <form class="example-form" [formGroup]="loginForm">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="email" formControlName="email">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput type="password" placeholder="password" formControlName="password">
                        </mat-form-field>
                    </form>
                    <button mat-raised-button color="accent" (click)="onSubmit()">Login</button>
                </div>
            </mat-grid-tile>

            <button mat-button color="primary" (click)="loginGoogle()"><i class="fab fa-google-plus fa-3x"></i>&nbsp;
                Login with Google</button>

            <div>
                <p>No account yet? <a (click)="navigateToRegister()">Create an account</a></p>
            </div>
        </mat-grid-list>
    </ng-template>
</div>