<br><br><br><br><br>
<div flexLayout fxLayoutAlign="center center" fxLayoutGap="space-evenly">

    <mat-card >
        <mat-card-title>
            <h3>
                Please Login
            </h3>
        </mat-card-title>

        <mat-card-content >
            <div >
                <form class="container" [formGroup]="loginForm">
                    <mat-form-field class="flex-item" appearance="outline">
                        <input matInput type="email" placeholder="email" formControlName="email">
                    </mat-form-field>
                    <mat-form-field class="flex-item" appearance="outline">
                        <input matInput type="password" placeholder="password" formControlName="password">
                    </mat-form-field>
                </form>
            </div>
        </mat-card-content>

        <mat-card-actions class="flex-item">
            <button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="onSubmit()">Login</button>
            <button mat-button (click)="navigateToResetPass()">Forgot Password?</button>

            <button mat-button color="primary" (click)="loginGoogle()"><i class="fab fa-google-plus fa-3x"></i>&nbsp;
                Login with Google</button>
                
            <div>
                <p>No account yet? <a (click)="navigateToRegister()">Create an account.</a></p>
            </div>
        </mat-card-actions>

    </mat-card>

</div>