<mat-card class="main-toolbar">
    <mat-card-title>
        <span>Register</span>
        <span class="example-spacer"></span>
    </mat-card-title>

    <br>
    <mat-card-content flexLayout fxLayoutAlign="start center">
            <div>
                <form class="example-form" [formGroup]="registrationForm">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="email" formControlName="email">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput type="password" placeholder="password" formControlName="password">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput type="password" placeholder="confirmPassword" formControlName="confirmPassword">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Full Name" formControlName="fullName">
                    </mat-form-field>

                </form>
                <button mat-raised-button color="accent" (click)="onSubmit()">Register</button>

            </div>
    </mat-card-content>
</mat-card>