.background {
    background-image:  url("../../../assets/ModelPic2.png");
    background-repeat: no-repeat;
    background-position: center-top;
    background-size: contain;
    width: 100%; 
    height: 600px; 
}

h1 {
    color: rgb(38, 156, 224);
}