<br>
<br>
<br>
<br>
<br>
<div flexLayout fxLayoutAlign="center center" fxLayoutGap="space-evenly">
  <mat-card class="container">
    <mat-card-title>
      Reset Password
    </mat-card-title>
    <mat-card-content class="flex-item">
      <div>
        <form [formGroup]="resetPassform">
          <mat-form-field appearance="outline">
            <input matInput type="email" formControlName="email" placeholder="Email for reset password" required>
          </mat-form-field>
        </form>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex-item">
      <button mat-button mat-button-raised type="submit" color="primary" [disabled]="!resetPassForm.valid" (click)="onSubmit(); resetPassForm.reset()">Submit</button>
    </mat-card-actions>
  </mat-card>
</div>