<div fxLayout="column" fxLayoutAlign="start right" fxLayoutGap="60px">
  <div>
    <nav>
      <img src="../assets/tubs-logo.png" width="180px" height="80" alt="logo">

      <a routerLink="/home">Home</a>
      <a routerLink="/shop" (click)="showProducts()">Products</a>
      <span class="example-fill-remaining-space"></span>

      <a>
        <mat-icon>search</mat-icon>
      </a>

      <a routerLink="/cart">
        <span><mat-icon>cart</mat-icon></span>
      </a>
    </nav>
    <router-outlet></router-outlet>
  </div>
  <button type="button">Back</button>
  <!-- <app-cart></app-cart> -->
</div>